 /* Layout */
 
 html,
 body {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 14px;
     padding: 0;
     margin: 0;
 }
 
 body {
     min-width: 12em;
 }
 
 .ru-hidden {
     display: none !important;
 }
 /* 分割线 */
 
 .sep {
     list-style: none;
     width: 98%;
     height: 1px;
     background: #F3F4F5;
     overflow: hidden;
     line-height: 1px;
     margin: 4px 2px;
     padding: 0px;
     font-size: 0px;
 }
 
 .ru-custom-popup-span {
     font-size: 12px;
     font-family: "Microsoft YaHei" ! important;
     color: #36425A;
     line-height: 22px;
 }
 /* Menu */
 
 .ru-nav {
     list-style: none;
     padding: 0;
     margin: 0;
 }
 
 .ru-nav-item {
     display: block;
     margin: 3px 2px 3px 2px;
     font-size: 12px;
     width: 166px;
 }
 
 .ru-nav-item>a>.glyphicon {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     margin-right: 1px;
 }
 
 .ru-nav-item>a {
     display: block;
     padding: 3px 0px 3px 6px;
     border-radius: 2px;
     background: #C6CED600;
     text-decoration: none;
     white-space: nowrap;
     cursor: pointer;
 }
 
 .ru-nav-item>a:hover {
     background-color: #C6CED633;
 }
 
 .ru-nav-item>a:focus {
     background-color: #C6CED666;
 }
 
 .ru-nav-item.ru-effective>a {
     background-color: #C6CED633;
 }
 
 .ru-nav-item.ru-active>a {
     background-color: #C6CED633;
 }
 
 .ru-divider {
     height: 1px;
     overflow: hidden;
     background-color: #E5E5E5;
 }
 
 .glyphicon-copyurl:before {
     background-image: url(/img/copyurl.svg);
     background-size: contain;
     background-repeat: no-repeat;
     content: "\e63a";
     background-repeat: no-repeat;
     display: inline-block;
     width: 16px;
     background-position: center;
 }